In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datascience import *

In [3]:
boba = make_array ('Asha','Sharetea', 'Tapioca Express', 'Tea One', 
                   'UCha', 'Purple Kow', '723 Tea Station')
ratings = make_array (10, 9,1, 1, 8, 5, 4)
opinion = ('Awesome','Awesome', 'Bad', 'Bad', 'Awesome', 'Bad', 'Bad')
boba_data = Table().with_columns ('Boba', boba, 'Ratings', ratings, 'My Opinion', opinion)
boba_data

Boba            | Ratings | My Opinion
Asha            | 10      | Awesome
Sharetea        | 9       | Awesome
Tapioca Express | 1       | Bad
Tea One         | 1       | Bad
UCha            | 8       | Awesome
Purple Kow      | 5       | Bad
723 Tea Station | 4       | Bad

## Least favorite boba shop

In [15]:
boba_data.sort("Ratings", descending = False).column("Boba").item(0)

'Tapioca Express'

## Only good boba shops

In [6]:
boba_data.where("My Opinion", are.equal_to("Awesome")).num_rows

3

## Table of the first two columns

In [43]:
# boba_data.select(0, 1)
boba_data.select(np.arange(0, 2))

Boba            | Ratings
Asha            | 10
Sharetea        | 9
Tapioca Express | 1
Tea One         | 1
UCha            | 8
Purple Kow      | 5
723 Tea Station | 4

## Average rating for each of my opinions

In [42]:
boba_data.group("Ratings", np.average)

Ratings | Boba average | My Opinion average
1       |              |
4       |              |
5       |              |
8       |              |
9       |              |
10      |              |

## Two best boba places

In [38]:
boba_data.sort("Ratings", descending = True).take(np.arange(0, 2)).column(0)

array(['Asha', 'Sharetea'], dtype='<U15')

## Average rating of the bottom 3 boba places

In [52]:
ex_array = boba_data.sort("Ratings", descending = False).take(np.arange(0,3)).column(1)
np.average(ex_array)

2.0

## Pivot Table Q

In [54]:
boba_data.pivot("My Opinion", "Boba", values = "Ratings", collect = np.average)

Boba            | Awesome | Bad
723 Tea Station | 0       | 4
Asha            | 10      | 0
Purple Kow      | 0       | 5
Sharetea        | 9       | 0
Tapioca Express | 0       | 1
Tea One         | 0       | 1
UCha            | 8       | 0

# Functions

In [61]:
def add(x, y):
    x + y

In [26]:
def add2(x, y):
    print(x + y)

In [63]:
y = add(5, 6)
y

In [59]:
print(y)

None

In [65]:
a = 3
def saver(x, y):
    a = x
    b = y
saver(5, 6)

In [66]:
a

3

### Exercise
Write a function that will take 1 point away from a rating.  Then use .apply to replace the "Ratings" column with a new set of values that are 1 less than before in a column called "New Ratings"

In [67]:
def health_crisis(x):
    difference = x-1
    return difference
new_data = boba_data.apply (health_crisis, 'Ratings')
boba_data_new = boba_data.drop("Ratings").with_column ('New Ratings', new_data)

In [68]:
new_data

array([9, 8, 0, 0, 7, 4, 3])

In [34]:
boba_data_new

Boba            | My Opinion | New Ratings
Asha            | Awesome    | 9
Sharetea        | Awesome    | 8
Tapioca Express | Bad        | 0
Tea One         | Bad        | 0
UCha            | Awesome    | 7
Purple Kow      | Bad        | 4
723 Tea Station | Bad        | 3